
    <!-- bradcam_area  -->
    <div class="bradcam_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Sobre mí</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

    <div class="about_area mt-5 mb-5">
        <div class="container">
            
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">
                        <h3>Hola soy <br>
                            Eduardo venegas<br></h3>
                        <p>pero mis amigos me dicen Yayo, estudie ingeniería en sistemas 
                            computacionales en el Instituto Tecnológico Superior del Sur de 
                            Yucatán en oxkutzcab  lugar donde resido actualmente. </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="img/about/1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="about_info">
                        <p>Me adentre al mundo del diseño web usando wordpress, aunque usar plantillas 
                            es muy rápido en muchas ocasiones no se ajustaba a las necesidades de mis 
                            clientes y usando plugins, los sitios se volvían muy lentos, por eso decidí 
                            empezar a desarrollar mis propias plantillas, también algunos plugins y 
                            widgets muy modestos a mi parecer, todo esto a la medida de los proyectos. 
                            Este proceso de trabajar en wordpress fue muy satisfactorio, hasta el 
                            punto donde mi trabajo ha gustado y he recibido recomendaciones, que ha 
                            culminado por darme más trabajo, se siente bien cuando la gente reconoce 
                            tu trabajo.</p>
    
                        <p>Me gusta trabajar con wordpress, pero siento que no es programar como tal, 
                            pese a que si requieres ciertos conocimientos en PHP, por eso empecé a 
                            buscar otras tecnologías que me permitan desarrollarme como programador, 
                            ahí conocí este maravilloso framework para programar llamado Angular 2+, 
                            en el cual he tomado y tomo diversos cursos en Udemy, hasta ahora solo he 
                            tenido la oportunidad de trabajar en proyectos personales, como mi sitio web, 
                            pero ya quiero empezar a trabajar de forma profesional con Angular 2+.</p>

                        <p>Soy muy sincero, por alguna razón no puedo mentir, quizás porque soy malo 
                            recordando mis propias mentiras, siempre digo lo que pienso si es para aportar, 
                            considero que no se muchas cosas, pero nunca me rindo hasta lograrlo, 
                            me gusta mucho trabajar en equipo, leer, estudiar, salir con mis amigos, 
                            temas como la política, filosofía o la ciencia son temas de mi interés, 
                            aunque lo entienda al momento y luego lo olvide jeje, los videojuegos 
                            desde luego, ver anime, me gusta mucho la música, siempre que tengo la 
                            oportunidad me gusta ir a festivales, me gusta trabajar, trato de ser 
                            dedicado, y mejorar todo el tiempo, esto me ha llevado a reinventar 
                            algunos sitios web que he hecho, dado que cuando ya ha pasado un tiempo 
                            vuelvo a ver mi proyecto y pienso: esto hubiera quedado mejor así; y lo 
                            vuelvo hacer con todas las cosas nuevas que he aprendido. ¿Qué te digo? 
                            Este es quien soy y estoy muy ansioso por trabajar contigo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_area mt-5 mb-5">
        <div class="container">
            
            
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="about_info text-center">
                        <h3>Skills</h3>

                        <p>Estas son las herramientas o tecnologías con las que 
                            he trabajado y tengo experiencia.</p>
                            
                            
                    </div>
                    <owl-carousel-o [options]="customOptions">
 
                        <ng-container *ngFor="let png of logoTec">
                          <ng-template carouselSlide>
                            <img [src]="png" class="img-fluid">
                          </ng-template>
                        </ng-container>
                     
                      </owl-carousel-o>
                      <div class="about_info text-center">

                        <p>Adicional a esto, también tengo un poco de experiencia 
                            como fotógrafo y diseñador, creo que son mis habilidades 
                            menos destacables, pero siempre me gusta retomarlo cuando 
                            tengo tiempo, y en varias ocasiones estas habilidades me 
                            han servido para mis proyectos.</p>
                            
                            
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about_area mt-5 mb-5">
        <div class="container">
            <h1 class="text-center">Experiencia laboral</h1>
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">
                        <h3>Blue Ocean Tecnologies</h3>
                        <h6>PROGRAMA: TE PAGAMOS POR APRENDER (BECA)</h6>
                        <h6>Ago 2019 - Sep 2019</h6>

                        <p>Entré a esta empresa por parte de un programa del gobierno, 
                            en ella, nos capacitaron para el uso de ASP.net y otras 
                            tecnologías que giran alrededor de esta para el desarrollo 
                            de aplicaciones, peticiones AJAX, Js, Jquery, Razor, Linq 
                            y Azure Dev Ops.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="./assets/img/BOT.png" alt="">
                    </div>
                </div>
            </div>
            
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 yayo-d-sm">
                    <div class="about_info">
                        <h3>Freelancer – Home Office</h3>
                        <h6>Enero 2018 - Actualidad</h6>

                        <p>Hasta ahora solo he trabajado de forma independiente 
                            con wordpress, desarrolle mis propias plantillas dinámicas 
                            y customisables con boostrap 4, al igual que algunos 
                            widgets y plugins a medida para las necesidades de mis 
                            proyectos.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">

                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 yayo-d-lg">
                    <div class="about_info">
                        <h3>Freelancer – Home Office</h3>
                        <h6>Enero 2018 - Actualidad</h6>

                        <p>Hasta ahora solo he trabajado de forma independiente 
                            con wordpress, desarrolle mis propias plantillas dinámicas 
                            y customisables con boostrap 4, al igual que algunos 
                            widgets y plugins a medida para las necesidades de mis 
                            proyectos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_area mt-5 mb-5">
        <div class="container">
            <h2 class="text-center">Actualidad</h2>
            <div class="col-md-12">
                <div class="row align-items-center">
                    
                    <div class="about_info text-center">
                        <p>Me gusta mucho angular y wordpress, pero igual me interesa 
                            aprender otras tecnologías como react.js y vue.js. 
                            Actualmente me dedico a mejorar mis habilidades en angular 
                            y trabajar en algunos proyectos tanto independientes 
                            como de algunos clientes, cuando estén listos los publicaré 
                            en mi página de <a href="https://www.facebook.com/Yayo-Venegas-414937768858277/">Facebook</a> 
                            o en mi página web <a [routerLink]="['/home']">aquí</a>.</p>
    
                        <p>
                            Sígueme en mis redes sociales donde subo contenido variado 
                            de temas que son de mi interés y mis actividades laborales 
                            como diseñador web: 
                        </p>
                        <a class="boxed-social facebook-social" target="_blank" href="https://www.facebook.com/Yayo-Venegas-414937768858277/"><i class="fa fa-facebook"></i></a>
                        <a class="boxed-social instagram-social" target="_blank" href="https://www.instagram.com/lalotix/?hl=es-la"><i class="fa fa-instagram"></i></a>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>