<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Software Solutions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">

        <div class="section-top-border">
            <h3 class="text-center">Precios de los paquetes para las venta de sitios web</h3>
            <div class="row">
                <div class="col-md-12">
                    <p>Software Solutions en el nombre de la empresa por el cual vendo mis servicios como diseñador y programador web, si tus necesidades no encajan en ninguno de los paquetes que te ofrezco a continuación, puedes mandarme un mensaje sin compromiso para una asesoría gratuita aquí.
                    </p>
                    <h6 class="mt-5">ATENCION: las asesorías son presenciales no aplica por whatsapp u otros medios.</h6>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <div class="row">
                <div class="col-md-4 mt-sm-30">
                    <h3 class="mb-20">Paquete básico</h3>
                    <div class="">
                        <ul class="unordered-list text-right">
                            <li>Sitio web estático desde 3500 pesos y hosting.</li>
                            <li>Dominio gratis</li>
                            <li>No incluye certificado SSL</li>
                            <li>2 Propuestas</li>
                            <li>Asesoramiento</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        Estos sitios solo muestran información y puede tener distintas páginas dentro del mismo sitio web para mostrar información concreta a sus visitantes, ideal para emprendedores. Estas páginas se elaboran con las últimas tecnologías, de manera que son páginas que una vez dentro, la página no se recarga al cambiar de página o navegar en el sitio web.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-right">Sitio web creado con wordpress, adaptado a las necesidades del cliente, es un sitio web dinámico, donde el usuario puede crear post y nuevas páginas en base a sus necesidades, estos sitios pueden ser modificados por el usuario final, incluye un curso para el manejo de la página. Ideal para trabajar marca personal, empresas y/o negocios que buscan publicar contenido constantemente, blogers y posicionamiento SEO.

                    </p>
                    
                </div>
                <div class="col-md-4 mt-sm-30">
                    <h3 class="mb-20">Paquete para creadores de contenido </h3>
                    <ul class="unordered-list text-right">
                        <li>Sitio web dinámico desde 5500.</li>
                        <li>Dominio gratis</li>
                        <li>Incluye certificado SSL</li>
                        <li>2 Propuestas</li>
                        <li>Asesoramiento</li>
                        <li>Asesoramiento sobre el uso de la plataforma wordpress.</li>
                        <li>Servicio técnico por 15 dias.</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->
