<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Software Solutions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">

        <div class="section-top-border text-center">
            <h3>Precios de los paquetes para las venta de sitios web</h3>
            <div class="row">
                <div class="col-md-12">
                    <p>Software Solutions en el nombre de la empresa por el 
                        cual vendo mis servicios como diseñador y programador web, 
                        si tus necesidades no encajan en ninguno de los paquetes 
                        que te ofrezco a continuación, puedes mandarme un mensaje 
                        sin compromiso para una asesoría gratuita 
                        <a href="https://www.facebook.com/Yayo-Venegas-414937768858277/">aquí</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <h3 class="mb-20 text-center">Paquete básico</h3>
            <div class="row">
                <div class="col-md-4 mt-sm-30">
                    
                    <div class="">
                        <ul class="unordered-list">
                            <li>Sitio web estático desde 3500 pesos y hosting.</li>
                            <li>Dominio gratis</li>
                            <li>No incluye certificado SSL</li>
                            <li>2 Propuestas</li>
                            <li>Asesoramiento</li>
                            <li>No incluye correos corporativos</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 mt-sm-20">
                    <p>
                        Estos sitios solo muestran información y puede tener distintas 
                        páginas dentro del mismo sitio web para mostrar información 
                        concreta a sus visitantes, ideal para emprendedores. 
                        Estas páginas se elaboran con las últimas tecnologías, 
                        de manera que son páginas que una vez dentro, la página 
                        no se recarga al cambiar de página o navegar en el sitio web.
                    </p>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-20 text-center">Paquete para creadores de contenido </h3>
            <div class="row">
                <div class="col-md-4 mt-sm-30">
                    <ul class="unordered-list">
                        <li>Sitio web dinámico desde 5500.</li>
                        <li>Dominio gratis</li>
                        <li>Incluye certificado SSL</li>
                        <li>2 Propuestas</li>
                        <li>Incluye correos corporativos</li>
                        <li>Asesoramiento</li>
                        <li>Asesoramiento sobre el uso de la plataforma wordpress.</li>
                        <li>Servicio técnico por 15 dias.</li>
                    </ul>
                    
                </div>

                <div class="col-md-8">
                    <p>Sitio web creado con wordpress, adaptado a las 
                        necesidades del cliente, es un sitio web dinámico, donde el usuario 
                        puede crear post y nuevas páginas en base a sus necesidades, estos 
                        sitios pueden ser modificados por el usuario final, incluye un curso 
                        para el manejo de la página. Ideal para trabajar marca personal, 
                        empresas y/o negocios que buscan publicar contenido constantemente, 
                        blogers y posicionamiento SEO.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-20 text-center">Sistemas avanzados y personalizados</h3>
            <div class="row">
                <div class="col-md-4 mt-sm-30">
                    <ul class="unordered-list">
                        <li>Dominio gratis</li>
                        <li>Incluye certificado SSL</li>
                        <li>Incluye correos corporativos</li>
                        <li>Asesoramiento</li>
                        <li>Servicio técnico por 1 mes.</li>
                    </ul>
                    
                </div>

                <div class="col-md-8">
                    <p>Los precios pueden variar mucho dependiendo de los requerimientos 
                        y el alcance del proyecto, puede ser desde un sistema para administrar 
                        el inventario de una tienda hasta la creación de una aplicación para móviles, 
                        las metodologías varían mucho dependiendo del proyecto, para definir mejor 
                        el alcance del proyecto es importante primero hacer una consultoría, 
                        puedes agenda una cita sin compromiso y sin costo aquí.
                    </p>
                    
                </div>
            </div>
        </div>
        <h6 class="text-center">ATENCIÓN: estos precios no incluyen IVA.</h6>
    </div>
</div>
<!-- End Align Area -->
