 <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                

                <nav class="navbar navbar-expand-lg navbar-light">
                    <h2 style="color: white;"><a [routerLink]="['/home']">Yayo Venegas</a></h2>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon" style="background-color: white;"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item"><a  class="nav-link" style="color: white;" [routerLink]="['home']">Inicio</a></li>
                          <li class="nav-item"><a  class="nav-link" style="color: white;" [routerLink]="['services']">Sobre mí</a></li>
                          <li class="nav-item"><a  class="nav-link" style="color: white;" [routerLink]="['SoftwareSolutions']">SoftwareSolutions</a></li>
                        </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </header>

   